.about {
  margin-bottom: 3.42em;
  .vertical {
    flex-direction: column;
  }
  .about-info {
    background: #d2d8d8 url("../../assets/img/about-bg.jpg");
    background-attachment: fixed;
    background-size: cover;
    padding-top: 5em;
    padding-bottom: 5em;
    h1 {
      margin: 1em 0 0 0;
      font-size: 2.5em;
      @include media("<=tablet") {
        font-size: 2.5em;
      }
    }
    h2 {
      margin: 0.3em 0 0.2em 0;
    }
    .buttons {
      flex-wrap: wrap;
      a,
      div[role="link"] {
        box-sizing: border-box;
        text-decoration: none;
        display: inline-block;
        border-radius: 0.2em;
        box-shadow: 0 4px rgba(0, 0, 0, 0.2);
        padding: 0.5em 1.3em;
        margin: 0.55em 0.2em 0.3em 0.2em;
        background-color: rgb(245, 245, 245);
        color: $black;
        transition: 0.25s ease;
        &:hover {
          cursor: pointer;
          transform: translateY(-1.2px);
          box-shadow: 0 5.2px rgba(0, 0, 0, 0.15);
        }
      }
      .facebook-link {
        background: #3b5998;
        color: white;
        font-weight: bold;
        font-size: 1.13em;
      }
    }
  }

  .section {
    h1 {
      margin-bottom: 0;
    }
    p {
      margin-top: 0.42em;
      font-size: 1.25em;
      margin-bottom: 0.2em;
    }
  }

  .mission {
    h1 {
      margin-top: 2em;
    }
  }

  .officers {
    margin-top: 1.69em;
  }
}
