.main {
  transition: 0.5s ease-in-out; // debounce resize ease
  height: 50vh; // fallback
  height: calc(var(--vh, 1vh) * 50);
  // landscape mobile
  @media screen and (max-height: 530px) and (orientation: landscape) {
    height: 100vh; // fallback
    height: calc(var(--vh, 1vh) * 100);
  }
  background-color: $white;
  .row {
    transition: 0.5s ease-in-out; // debounce resize ease
    flex-direction: column;
    justify-content: center;
    h2 {
      margin-top: 50px;
      font-size: 3rem;
      line-height: 3rem;
      font-weight: 700;
      z-index: 500;
      color: $white;
      mix-blend-mode: difference;

      @include media("<=desktop") {
        margin-top: 30px;
        margin-bottom: 10px;
        font-size: 2.4rem;
        line-height: 2.8rem;
      }
      @include media("<=tablet") {
        font-size: 2rem;
        line-height: 2.2rem;
      }
      @include media("<=phone") {
        margin-top: 25px;
        font-size: 1.7rem;
        line-height: 1.8rem;
      }
      .line {
        transition: 0.5s ease-in-out; // debounce resize ease
        height: 60px;
        position: relative;
        overflow: hidden;
        @include media("<=tablet") {
          height: 50px;
        }
        @include media("<=phone") {
          height: 36px;
        }
        span {
          position: absolute;
          b {
            font-weight: 1000;
          }
        }
      }
    }
    // three lines or two lines
    .largeScreen {
      display: none;
      @include media(">650px") {
        display: block;
        font-size: 2.4rem;
      }
    }
    .smallScreen {
      display: none;
      @include media("<=650px", ">400px") {
        display: block;
        font-size: 1.8rem;
      }
      @include media("<=650px", ">500px") {
        display: block;
        font-size: 2.2rem;
      }
    }
    .xsScreen {
      display: none;
      @include media("<=400px") {
        display: block;
      }
    }
  }
  .btn-row {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    @include media("<=400px") {
      flex-direction: column;
    }
    a,
    div[role="link"] {
      font-size: 1.6rem;
      border: 2px solid $black;
      border-radius: 3px;
      color: $black;
      text-decoration: none;
      padding: 9px 15px;
      display: flex;
      align-items: center;
      font-weight: 600;
      margin-right: 5px;
      margin-bottom: 0;
      transition: background 0.55s ease-in-out, color 0.55s ease-in-out,
        padding 0.25s ease-in-out;
      @include media("<=tablet") {
        margin-bottom: 3px;
        font-size: 1.3rem;
      }
      @include media("<=400px") {
        font-size: 1.2rem;
        padding: 6px 13px;
        margin-right: 0;
      }
      svg {
        transition: margin 0.25s ease-in-out;
        padding: 5px;
        @include media("<=tablet") {
          padding: 6px;
          width: 20px;
          height: 20px;
        }
        @include media("<=phone") {
          padding: 4px;
          width: 16px;
          height: 16px;
        }
      }
      &:hover {
        background: $black;
        color: white;
        padding: 9px 17px;
        svg {
          margin-left: 10px;
        }
      }
    }
  }
}
