.main {
  user-select: none;
  transition: 0.5s ease-in-out; // debounce resize ease
  height: 50vh; // fallback
  height: calc(var(--vh, 1vh) * 50);
  // landscape mobile
  @media screen and (max-height: 530px) and (orientation: landscape) {
    height: 100vh; // fallback
    height: calc(var(--vh, 1vh) * 100);
  }
  background-color: $white;
  .row {
    transition: 0.5s ease-in-out; // debounce resize ease
    flex-direction: column;
    justify-content: center;
    h2 {
      margin-top: 50px;
      font-size: 3rem;
      line-height: 3rem;
      font-weight: 700;
      z-index: 500;
      color: $white;
      mix-blend-mode: difference;

      @include media("<=desktop") {
        margin-top: 30px;
        margin-bottom: 10px;
        font-size: 2.4rem;
        line-height: 2.8rem;
      }
      @include media("<=tablet") {
        font-size: 2rem;
        line-height: 2.2rem;
      }
      @include media("<=phone") {
        margin-top: 25px;
        font-size: 1.7rem;
        line-height: 1.8rem;
      }
      .line {
        transition: 0.5s ease-in-out; // debounce resize ease
        height: 60px;
        position: relative;
        overflow: hidden;
        @include media("<=tablet") {
          height: 50px;
        }
        @include media("<=phone") {
          height: 36px;
        }
        span {
          position: absolute;
          b {
            font-weight: 1000;
          }
        }
      }
    }
    // three lines or two lines
    .largeScreen {
      display: none;
      @include media(">650px") {
        display: block;
        font-size: 2.4rem;
      }
    }
    .smallScreen {
      display: none;
      @include media("<=650px", ">400px") {
        display: block;
        font-size: 1.8rem;
      }
      @include media("<=650px", ">500px") {
        display: block;
        font-size: 2.2rem;
      }
    }
    .xsScreen {
      display: none;
      @include media("<=400px") {
        display: block;
      }
    }
  }
  .btn-row {
    width: 256px;
    position: relative;
    z-index: 2;
    div[role="link"] {
      font-size: 1.6rem;
      color: $black;
      text-decoration: none;
      display: flex;
      align-items: center;
      font-weight: 600;
      @include media("<=tablet") {
        font-size: 1.7em;
      }

      @include media("<=400px") {
        font-size: 1.6em;
      }
      svg {
        box-shadow: 2px 4px rgba(0, 0, 0, 0.1);
        margin-left: 16px;
        border: 2px solid $black;
        padding: 12px;
        height: 24px;
        width: 24px;
        border-radius: 100%;
        transition: 0.55s ease-in-out;
        @include media("<=tablet") {
          padding: 6.6px;
          width: 20px;
          height: 20px;
        }
        @include media("<=phone") {
          padding: 4.2px;
          width: 25px;
          height: 25px;
        }
      }
      &:hover {
        svg {
          background: $black;
          color: $white;
        }
      }
    }
  }
}
