.curriculum {
  max-width: 100vw;
  overflow-x: hidden;

  .info {
    text-align: center;
    padding: 1em 1em 0 1em;
    h1 {
      font-size: 2.5em;
      font-weight: bold;
      margin-bottom: 0;
    }
    h2 {
      margin-top: 2px;
      margin-bottom: 0;
    }
    .unit-link {
      display: inline-block;
      border: 2px black solid;
      color: black;
      padding: 0.3em 1.3em 0.35em 1.3em;
      margin: 0 0.2em 0.3em 0.2em;
      border-radius: 0.2em;
      text-decoration: none;
      transition: 0.5s ease;
      & > * {
        text-decoration: none;
        font-size: 1.1em;
        @include media("<=phone") {
          font-size: 0.9em;
        }
      }

      &.general {
        border-color: $general-icon;
      }
      &.algorithms {
        border-color: $algorithms-icon;
      }
      &.web-development {
        border-color: $web-development-icon;
      }
      &.systems {
        border-color: $systems-icon;
      }
      &.cybersecurity {
        border-color: $cybersecurity-icon;
      }
      &.machine-learning {
        border-color: $machine-learning-icon;
      }
    }
  }

  .main-container {
    padding: 1em 0;
    * {
      box-sizing: border-box;
    }
  }

  /* The actual timeline (the vertical ruler) */
  .timeline {
    overflow-x: hidden;
    position: relative;
    width: calc(100vw - 80px);
    margin: 1em auto;

    /* The actual timeline (the vertical ruler) */
    &::after {
      content: "";
      position: absolute;
      width: 6px;
      background-color: #eee;
      top: 0;
      bottom: 0;
      left: 50%;
      margin-left: -3px;
    }
  }

  /* Container around content */
  .t-container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
  }

  /* Place the container to the left */
  .timeline {
    & > :nth-child(odd) {
      margin-top: 10px;
      left: 0;
      /* Add arrows to the left container (pointing right) */
      &::before {
        content: " ";
        height: 0;
        position: absolute;
        top: 22px;
        width: 0;
        z-index: 1;
        right: 30px;
        border: medium solid white;
        border-width: 10px 0 10px 10px;
        border-color: transparent transparent transparent white;
      }
    }

    /* Place the container to the right */
    & > :nth-child(even) {
      margin-top: -170px;
      left: 50%;

      /* Add arrows to the right container (pointing left) */
      &::before {
        content: " ";
        height: 0;
        position: absolute;
        top: 80px;
        width: 0;
        z-index: 1;
        left: 30px;
        border: medium solid white;
        border-width: 10px 10px 10px 0;
        border-color: transparent white transparent transparent;
      }
    }
    & > :nth-child(1) {
      margin-top: 0;
    }

    // COLORS
    // general unit color
    .general {
      .content {
        border-color: $general-bg;
        .unit {
          &::before {
            background-color: $general-icon;
          }
        }
      }
      &::before {
        border-color: transparent $general-bg;
      }
    }

    // algorithms unit color
    .algorithms {
      .content {
        border-color: $algorithms-bg;
        .unit {
          &::before {
            background-color: $algorithms-icon;
          }
        }
      }
      &::before {
        border-color: transparent $algorithms-bg;
      }
    }

    // systems unit colors
    .systems {
      .content {
        border-color: $systems-bg;
        .unit {
          &::before {
            background-color: $systems-icon;
          }
        }
      }
      &::before {
        border-color: transparent $systems-bg;
      }
    }

    // web-development unit colors
    .web-development {
      .content {
        border-color: $web-development-bg;
        .unit {
          &::before {
            background-color: $web-development-icon;
          }
        }
      }
      &::before {
        border-color: transparent $web-development-bg;
      }
    }

    // cybersecurity unit colors
    .cybersecurity {
      .content {
        border-color: $cybersecurity-bg;
        .unit {
          &::before {
            background-color: $cybersecurity-icon;
          }
        }
      }
      &::before {
        border-color: transparent $cybersecurity-bg;
      }
    }
    // cybersecurity unit colors
    .machine-learning {
      .content {
        border-color: $machine-learning-bg;
        .unit {
          &::before {
            background-color: $machine-learning-icon;
          }
        }
      }
      &::before {
        border-color: transparent $machine-learning-bg;
      }
    }
  }

  /* The actual content */
  .content {
    border-style: solid;
    padding: 10px 30px;
    background-color: white;
    position: relative;
    border-radius: 6px;
    h2 {
      margin-bottom: 4px;
    }
    .unit {
      &::before {
        content: "";
        display: inline-block;
        width: 12px;
        height: 12px;
        -moz-border-radius: 100%;
        -webkit-border-radius: 100%;
        border-radius: 100%;
        margin-right: 5px;
        background: black;
      }
    }
  }

  /* Media queries - Responsive timeline on screens less than 600px wide */
  @include media("<=tablet") {
    .t-container {
      width: 100%;
      padding-left: 20px;
      padding-right: 0;
    }

    .t-container:not(:first-child) {
      margin-top: 0;
    }

    .timeline {
      & > :nth-child(odd),
      & > :nth-child(even) {
        left: 0;
        /* Add arrows to the left container (pointing right) */
        &::before {
          content: " ";
          height: 0;
          position: absolute;
          top: 22px;
          width: 0;
          z-index: 1;
          left: 10px;
          border: medium solid white;
          border-width: 10px 10px 10px 0;
          border-color: transparent white transparent transparent;
        }
      }
      /* Place the timelime to the left */
      &::after {
        left: 5px;
      }

      // COLORS
      // algorithms unit color
      .algorithms {
        .content {
          background-color: $algorithms-bg;
          .unit {
            &::before {
              background-color: $algorithms-icon;
            }
          }
        }
        &::before {
          border-color: transparent $algorithms-bg;
        }
      }

      // systems unit colors
      .systems {
        .content {
          background-color: $systems-bg;
          .unit {
            &::before {
              background-color: $systems-icon;
            }
          }
        }
        &::before {
          border-color: transparent $systems-bg;
        }
      }

      // web-development unit colors
      .web-development {
        .content {
          background-color: $web-development-bg;
          .unit {
            &::before {
              background-color: $web-development-icon;
            }
          }
        }
        &::before {
          border-color: transparent $web-development-bg;
        }
      }

      // cybersecurity unit colors
      .cybersecurity {
        .content {
          background-color: $cybersecurity-bg;
          .unit {
            &::before {
              background-color: $cybersecurity-icon;
            }
          }
        }
        &::before {
          border-color: transparent $cybersecurity-bg;
        }
      }

      // machine learning unit colors
      .machine-learning {
        .content {
          background-color: $machine-learning-bg;
          .unit {
            &::before {
              background-color: $machine-learning-icon;
            }
          }
        }
        &::before {
          border-color: transparent $machine-learning-bg;
        }
      }
    }
  }
}
