.menu {
  display: none;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: fixed;
  height: 100%;
  width: 100vw;
  //   height: calc(var(--vh, 1vh) * 100);
  .menu-secondary-background-color {
    background-color: $theme;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: -1;
  }
  .menu-layer {
    position: relative;
    height: 100%;
    overflow: hidden;
    background-color: $black;
    .wrapper {
      position: relative;
      .menu-links {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        position: relative;
        @include media("<=tablet") {
          text-align: center;
          flex-direction: column;
          justify-content: center;
        }
        nav {
          display: block;
          margin-right: 20vw;
          @include media("<=desktop") {
            margin-right: 12vw;
          }
          @include media("<=tablet") {
            text-align: center;
            flex-direction: column;
            justify-content: center;
            margin-right: 0;
            margin-bottom: 5vh;
          }
          ul {
            padding: 0;
            margin: 0;
            li {
              list-style: none;
              font-size: 5rem;
              @include media("<=tablet") {
                font-size: 4rem;
              }
              @include media("<=650px") {
                font-size: 3rem;
              }
              @include media("<=phone") {
                font-size: 2rem;
              }
              @media screen and (min-width: 400px) and (max-width: 1000px) and (max-height: 500px) {
                font-size: 2rem;
              }
              @media screen and (max-height: 450px) and (max-width: 768px) {
                font-size: 1.2rem;
              }
              cursor: pointer;
              overflow: hidden;
              position: relative;
              a {
                color: $white;
                text-decoration: none;
                transition: 0.3s ease-in-out;
                &:hover {
                  color: $theme;
                }
              }
            }
          }
        }
        .info {
          color: $white;
          padding: 1em;
          h3 {
            font-size: 1.2rem;
            margin: 8px auto;
          }
          p {
            margin: 0 auto;
            font-size: 0.8rem;
          }
        }
      }
    }
  }
}
