.sections {
  height: 50vh;
  height: calc(var(--vh, 1vh) * 50);
  .row {
    @include media("<=tablet") {
      flex-direction: column;
    }
    .section {
      position: relative;
      background: $black;
      cursor: pointer;
      &:hover {
        .section-image {
          opacity: 0.25;
        }
      }
      .section-details {
        width: 33.333vw;
        height: 50vh; // fallback
        height: calc(var(--vh, 1vh) * 50);
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 32px;
        box-sizing: border-box;
        z-index: 1;
        position: relative;
        @include media("<=tablet") {
          width: 100vw;
        }
        @include media("<=phone") {
          padding: 16px;
        }
        span {
          margin-top: 125px;
          font-size: 1.6rem;
          opacity: 0.8;
          color: $white;
          font-weight: 600;
          @include media("<=desktop", ">tablet") {
            font-size: 1.4rem;
            line-height: 2.2rem;
          }
        }
        h2 {
          font-size: 2.4rem;
          line-height: 2.9rem;
          width: 85%;
          margin-top: 16px;
          color: $white;
          @include media("<=desktop", ">tablet") {
            font-size: 2rem;
            line-height: 2rem;
          }
          @include media("<=phone") {
            font-size: 1.7rem;
            line-height: 2.2rem;
            margin-top: 8px;
          }
        }
      }
      .section-image {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        position: absolute;
        opacity: 0.4;
        transition: 0.55s ease-in-out;
        img {
          height: 100%;
          width: 100%;
          object-fit: cover;
        }
      }
    }
  }
}
