$black: #000000;
$white: #ffffff;
$theme: rgb(133, 133, 133);
$systems-bg: rgb(206, 206, 206);
$systems-icon: rgb(133, 133, 133);
$general-bg: rgb(245, 255, 150);
$general-icon: rgb(245, 170, 100);
$algorithms-bg: rgb(255, 194, 194);
$algorithms-icon: rgb(255, 92, 92);
$web-development-bg: rgb(200, 222, 255);
$web-development-icon: rgb(124, 176, 255);
$cybersecurity-bg: rgb(255, 229, 194);
$cybersecurity-icon: rgb(247, 149, 83);
