$black: #000000;
$white: #ffffff;
$theme: rgb(133, 133, 133);
$systems-bg: rgb(219, 183, 208);
$systems-icon: rgb(160, 121, 147);
$general-bg: rgb(228, 228, 228);
$general-icon: rgb(170, 170, 170);
$algorithms-bg: rgb(255, 182, 182);
$algorithms-icon: rgb(255, 86, 86);
$web-development-bg: rgb(191, 217, 255);
$web-development-icon: rgb(117, 172, 255);
$cybersecurity-bg: rgb(255, 229, 194);
$cybersecurity-icon: rgb(247, 149, 83);
$machine-learning-bg: rgb(201, 255, 210);
$machine-learning-icon: rgb(0, 212, 35);
