$black: #000000;
$white: #ffffff;
$theme: rgb(133, 133, 133);
$systems-bg: rgb(213, 168, 255);
$systems-icon: rgb(118, 17, 212);
$general-bg: rgb(204, 204, 204);
$general-icon: rgb(170, 170, 170);
$web-development-bg: rgb(255, 182, 182);
$web-development-icon: rgb(255, 86, 86);
$algorithms-bg: rgb(191, 217, 255);
$algorithms-icon: rgb(117, 172, 255);
$cybersecurity-bg: rgb(255, 208, 146);
$cybersecurity-icon: rgb(255, 144, 70);
$machine-learning-bg: rgb(132, 255, 128);
$machine-learning-icon: rgb(132, 255, 128);
